# --- SUPABASE CONFIG ---
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-anon-key-here

SUPABASE_SERVICE_ROLE_KEY=your-secret-service-role-key-here

# --- APP CONFIG ---
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# --- PUPPETEER / BROWSER CONFIG ---
# Windows: C:\Program Files\Google\Chrome\Application\chrome.exe
CHROME_PATH=
CHROMIUM_URL=https://github.com/Sparticuz/chromium/releases/download/v143.0.4/chromium-v143.0.4-pack.x64.tar